

$theme-background-color : (

    body-background-color: #ffffff,

    primary-background-color: #ffffff,

    secondary-background-color: #fafafa,

    tertiary-background-color: #f8f8f8,

    footer-background-color: #1f1f1f,

);

$theme-color:(

    custom-header-slider-text-color: #000000,

    custom-header-slider-text-hover-color: #333333,
    
    main-text-color: #333333,

    header-text-color: #000000,

    absolute-header-text-color: #ffffff,

    theme-heading-color: #000000,

    link-color: #000000,

    link-hover-color: #333333,

    secondary-link-color: #666666,

    secondary-link-hover-color: #000000,

    color-white-light: #ffffff,

    footer-text-color: #ffffff,

    sixty-of-footer-text-color: #999999,

    footer-border-color: #363636,

    quote-color: #e2e2e2,

    border-color: #ebebeb,

    // gradient-background-color-first: #261380,

    // gradient-background-color-second: #8f559c,
);

$button-color: (

    background-button: #000000,

    background-hover-button: #333333,

    button-text-color: #ffffff,

    button-hover-text-color: #ffffff,

    footer-button-text-color: #000000,

    footer-button-text-hover-color: #000000,

    footer-button-background-color: #ffffff,

    gradient-button-background-color-first: #ed0dfb,

    gradient-button-background-color-second: #0bb8e2,

    gradient-button-text-color: #ffffff,
);
