
$body-font: 'Open Sans', sans-serif;

$site-title-font: 'Oswald', sans-serif;

$site-tagline-font: 'Oswald', sans-serif;

$content-title-font: 'Oswald', sans-serif;

$heading-font: 'Oswald', sans-serif;
