/**
 * 7.3.9 - Hero Content
 */

#hero-section,
#promotion-content-section {
    border: none;
    text-align: center;
}

.hero-section .more-button .more-link {
    border-bottom: none;
}

.content-align-left .entry-container {
    margin-right: auto;
}